@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-image: linear-gradient(to right,#F2DED7,#EAC6B8);
}

main
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #924521a2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1
{
    color: #6F8E88;
    text-align: center;
    text-shadow: 1px 1px 2px #65777394;
}

h2
{
    color: #CF8562;
}

p
{
    text-align: justify;
}